<a href="https://colab.research.google.com/github/PabloGP10/Extracci-n-de-Datos/blob/main/examen_consumer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
data=pd.read_excel('Consumer_mit_lift_lab.xlsx.xlsx')
data.head(10)

In [25]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                            109
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store               111
301_electricity_bill                          0
305_electricity_bill_store                    7
302_water_bill                                0
306_water_bill_store                          4
303_gas_bill                                  0
307_gas_bill_store                            3
286_topups                                    0
308_topups_in_store                          12
287_wire_transfers                            0
309_wiretransfers_in_store                    2
320_other_services_in_store                   0
304_additional_services_store                86
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     11
dtype: int64

**Métodos de Sustitución de Valores Nulos**

In [26]:
#Realizamos una copia del dataframe
data2=data.copy()

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
data2["300_did_not_find"]= data2["300_did_not_find"].fillna(10) 
data2

In [28]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                              0
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store               111
301_electricity_bill                          0
305_electricity_bill_store                    7
302_water_bill                                0
306_water_bill_store                          4
303_gas_bill                                  0
307_gas_bill_store                            3
286_topups                                    0
308_topups_in_store                          12
287_wire_transfers                            0
309_wiretransfers_in_store                    2
320_other_services_in_store                   0
304_additional_services_store                86
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     11
dtype: int64

In [ ]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["284_additional_products_store"]= data2["284_additional_products_store"].fillna(10) 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   7
302_water_bill                               0
306_water_bill_store                         4
303_gas_bill                                 0
307_gas_bill_store                           3
286_topups                                   0
308_topups_in_store                         12
287_wire_transfers                           0
309_wiretransfers_in_store                   2
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [30]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data2["305_electricity_bill_store"] =data2["305_electricity_bill_store"].fillna(method="ffill")

In [31]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         4
303_gas_bill                                 0
307_gas_bill_store                           3
286_topups                                   0
308_topups_in_store                         12
287_wire_transfers                           0
309_wiretransfers_in_store                   2
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [32]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data2["306_water_bill_store"] =data2["306_water_bill_store"].fillna(method="bfill")

In [33]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           3
286_topups                                   0
308_topups_in_store                         12
287_wire_transfers                           0
309_wiretransfers_in_store                   2
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
data2["307_gas_bill_store"]= data2["307_gas_bill_store"].fillna(10) 
data2

In [36]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                         12
287_wire_transfers                           0
309_wiretransfers_in_store                   2
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
data2["308_topups_in_store"]= data2["308_topups_in_store"].fillna(10) 
data2

In [38]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   2
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [39]:
data2["309_wiretransfers_in_store"] =data2["309_wiretransfers_in_store"].fillna(method="ffill")

In [40]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store               86
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
data2["304_additional_services_store"]= data2["304_additional_services_store"].fillna(10) 
data2

In [43]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store                0
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store                0
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible    11
dtype: int64

In [44]:
#Filtro por columnas
data2["storefront_picture_just_once_if_possible"] =data2["storefront_picture_just_once_if_possible"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum().sum()
valores_nulos

In [60]:
#convertir a archivo xlsx
data2.to_csv("consumer_Sin_nulos.csv")

In [61]:
#descargar archivo filtrado en xlsx
from google.colab import files 
  
files.download("consumer_Sin_nulos.csv")

**Outliers**

In [34]:
y=data

In [48]:
#Identificamos las variables no numéricas para eliminar columnas incecesarias 
#Verificamos información del DataFrame
y.info(36)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 36 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   _record_id                                115 non-null    object
 1   _title                                    115 non-null    object
 2   _server_updated_at                        115 non-null    object
 3   _updated_by                               115 non-null    object
 4   _geometry                                 115 non-null    object
 5   _latitude                                 115 non-null    float64
 6   _longitude                                115 non-null    float64
 7   282_payment_method_that_purchase          115 non-null    object
 8   283_fulfill_needs                         115 non-null    object
 9   300_did_not_find                          6 non-null      object
 10  237_distance_household_interviewee        115 non-null    object
 11  299_means_transportation_consumer         115 non-null    object
 12  238_frequency_buying_store                115 non-null    int64
 13  284_additional_products_store             4 non-null      object
 14  301_electricity_bill                      115 non-null    object
 15  305_electricity_bill_store                108 non-null    object
 16  302_water_bill                            115 non-null    object
 17  306_water_bill_store                      111 non-null    object
 18  303_gas_bill                              115 non-null    object
 19  307_gas_bill_store                        112 non-null    object
 20  286_topups                                115 non-null    object
 21  308_topups_in_store                       103 non-null    object
 22  287_wire_transfers                        115 non-null    object
 23  309_wiretransfers_in_store                113 non-null    object
 24  320_other_services_in_store               115 non-null    object
 25  304_additional_services_store             29 non-null     object
 26  81_number_online_purchases_month          115 non-null    int64
 27  288_number_app_purchases_month            115 non-null    int64
 28  289_number_whatsapp_purchases_month       115 non-null    int64
 29  83_willingness_ultrafast_delivery         115 non-null    int64
 30  84_willingness_sameday_delivery           115 non-null    int64
 31  241_age_of_the_interviewee                115 non-null    int64
 32  240_gender_interviewee                    115 non-null    object
 33  indicate_the_type_of_store                115 non-null    object
 34  name_of_the_store                         115 non-null    object
 35  storefront_picture_just_once_if_possible  104 non-null    object
dtypes: float64(2), int64(7), object(27)
memory usage: 32.5+ KB

In [49]:
#aplicamos filtro de columnas para filtrar las columnas con variables numéricas (se descartaron las columnas que muestran números de telofóno y las coordenadas) 
y1=y.iloc[:,[5,6,12,27,28,29,30,31,]]#columnas no consecutivas
y1

,_latitude,_longitude,238_frequency_buying_store,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,0,0,0,0,35
1,19.058479,-98.233566,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,40,25,42
3,19.055535,-98.232916,1,3,0,0,0,27
4,19.059012,-98.232994,1,5,0,0,50,35
...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,10,0,100,100,15
111,19.035280,-98.267856,1,1,0,50,70,21
112,19.035451,-98.267862,1,2,0,0,0,18
113,19.035486,-98.267831,1,4,0,30,100,18
114,19.035399,-98.267924,1,3,0,150,1000,18

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=y1

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

In [51]:
#Encontramos Outliers del Dataframe
outliers_iqr= y1[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,_latitude,_longitude,238_frequency_buying_store,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,150.0,1000.0,NaN

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= y1[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

In [53]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

_latitude                               0
_longitude                              0
238_frequency_buying_store              2
288_number_app_purchases_month          4
289_number_whatsapp_purchases_month    19
83_willingness_ultrafast_delivery      10
84_willingness_sameday_delivery         3
241_age_of_the_interviewee              4
dtype: int64

In [54]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data4_iqr=data3_iqr.copy()
data4_iqr=data4_iqr.fillna(round(data3_iqr.mean(),1))
data4_iqr

,_latitude,_longitude,238_frequency_buying_store,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,3.0,0.0,35.1,56.9,18.0

In [55]:
y2=data4_iqr.copy()

In [56]:
#convertir a archivo xlsx
y2.to_excel("consumer_Sin_Outliers.xlsx")

In [59]:
#descargar archivo filtrado en xlsx
from google.colab import files 
  
files.download("consumer_Sin_Outliers.xlsx")