<a href="https://colab.research.google.com/github/PabloGP10/Extracci-n-de-Datos/blob/main/lastmile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')
data.head(5)

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             6
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

**Métodos de Sustitución de Valores Nulos**

In [ ]:
#Realizamos una copia del dataframe
data2=data.copy()

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
data2["_title"]= data2["_title"].fillna(10) 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Sustituir valores nulos por un valor numérico en  concreto 
data2["plates"]= data2["plates"].fillna(10) 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data2["company_if_visible"] =data2["company_if_visible"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
data2["serving_customer"]= data2["serving_customer"].fillna(10) 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                   0
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
data2["describe_the_accident"]= data2["describe_the_accident"].fillna(10) 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                   0
garage_blocking                                    0
accident                                           0
describe_the_accident                              0
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
data2["maximum_number_of_vehicles_in_the_traffic_jam"]=data2["maximum_number_of_vehicles_in_the_traffic_jam"].fillna(round(data["maximum_number_of_vehicles_in_the_traffic_jam"].median(),1))
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                       0
_title                                           0
_server_updated_at                               0
_updated_by                                      0
_geometry                                        0
_latitude                                        0
_longitude                                       0
arrival_of_the_freight_vehicle                   0
plates                                           0
company_if_visible                               0
visit_purpose                                    0
type_of_vehicle                                  0
number_of_operators                              0
refrigerated_truck                               0
type_of_cargo                                    0
picture_of_the_parked_freight_vehicle            0
departure_of_the_freight_vehicle                 0
where_was_the_vehicle_parked                     0
while_parked_was_the_engine_running              0
used_traffic_cone                                0
vehicles_unloading_door                          0
number_of_available_trolleys                     0
serving_customer                                 0
garage_blocking                                  0
accident                                         0
describe_the_accident                            0
noise                                            0
traffic_congestion                               0
maximum_number_of_vehicles_in_the_traffic_jam    0
dtype: int64

**Método de Eliminación de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

_record_id                                  0
_title                                      0
_server_updated_at                          0
_updated_by                                 0
_geometry                                   0
_latitude                                   0
_longitude                                  0
282_payment_method_that_purchase            0
283_fulfill_needs                           0
300_did_not_find                            0
237_distance_household_interviewee          0
299_means_transportation_consumer           0
238_frequency_buying_store                  0
284_additional_products_store               0
301_electricity_bill                        0
305_electricity_bill_store                  0
302_water_bill                              0
306_water_bill_store                        0
303_gas_bill                                0
307_gas_bill_store                          0
286_topups                                  0
308_topups_in_store                         0
287_wire_transfers                          0
309_wiretransfers_in_store                  0
320_other_services_in_store                 0
304_additional_services_store               0
81_number_online_purchases_month            0
288_number_app_purchases_month              0
289_number_whatsapp_purchases_month         0
83_willingness_ultrafast_delivery           0
84_willingness_sameday_delivery             0
241_age_of_the_interviewee                  0
240_gender_interviewee                      0
indicate_the_type_of_store                  0
name_of_the_store                           0
storefront_picture_just_once_if_possible    0
dtype: int64

In [ ]:
#Realizamos una copia del dataframe
data3=data.copy()

In [ ]:
#Eliminamos filas con nulos
data4= data2.dropna(0)
data4

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

**OUTLIERS**

In [ ]:
y=data

In [ ]:
#Identificamos las variables no numéricas para eliminar columnas incecesarias 
#Verificamos información del DataFrame
y.info(29)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 29 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   _record_id                                     182 non-null    object
 1   _title                                         176 non-null    object
 2   _server_updated_at                             182 non-null    object
 3   _updated_by                                    182 non-null    object
 4   _geometry                                      182 non-null    object
 5   _latitude                                      182 non-null    float64
 6   _longitude                                     182 non-null    float64
 7   arrival_of_the_freight_vehicle                 182 non-null    object
 8   plates                                         181 non-null    object
 9   company_if_visible                             109 non-null    object
 10  visit_purpose                                  182 non-null    object
 11  type_of_vehicle                                182 non-null    object
 12  number_of_operators                            182 non-null    int64
 13  refrigerated_truck                             182 non-null    object
 14  type_of_cargo                                  182 non-null    object
 15  picture_of_the_parked_freight_vehicle          182 non-null    object
 16  departure_of_the_freight_vehicle               182 non-null    object
 17  where_was_the_vehicle_parked                   182 non-null    object
 18  while_parked_was_the_engine_running            182 non-null    object
 19  used_traffic_cone                              182 non-null    object
 20  vehicles_unloading_door                        182 non-null    object
 21  number_of_available_trolleys                   182 non-null    int64
 22  serving_customer                               35 non-null     float64
 23  garage_blocking                                182 non-null    object
 24  accident                                       182 non-null    object
 25  describe_the_accident                          0 non-null      float64
 26  noise                                          182 non-null    object
 27  traffic_congestion                             182 non-null    object
 28  maximum_number_of_vehicles_in_the_traffic_jam  2 non-null      float64
dtypes: float64(5), int64(2), object(22)
memory usage: 41.4+ KB

In [ ]:
#aplicamos filtro de columnas para filtrar las columnas con variables numéricas (se descartaron las columnas que muestran números de telofóno y las coordenadas) 
y1=y.iloc[:,[5,6,12,21,22,25,28,]]#columnas no consecutivas
y1

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=y1

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido _latitude                                        19.123517
_longitude                                      -98.098434
number_of_operators                               3.500000
number_of_available_trolleys                      2.500000
serving_customer                                  1.000000
describe_the_accident                                  NaN
maximum_number_of_vehicles_in_the_traffic_jam    11.000000
dtype: float64
Limite inferior permitido _latitude                                        18.961271
_longitude                                      -98.366619
number_of_operators                              -0.500000
number_of_available_trolleys                     -1.500000
serving_customer                                  1.000000
describe_the_accident                                  NaN
maximum_number_of_vehicles_in_the_traffic_jam    -1.000000
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= y1[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= y1[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1.0,1.0,NaN,NaN,NaN
1,19.056849,-98.233484,2.0,1.0,NaN,NaN,NaN
2,19.059677,-98.233916,1.0,0.0,1.0,NaN,NaN
3,19.062695,-98.228567,1.0,2.0,NaN,NaN,NaN
4,19.062724,-98.231397,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1.0,0.0,NaN,NaN,NaN
178,19.043607,-98.194856,1.0,0.0,NaN,NaN,NaN
179,19.043336,-98.194503,1.0,1.0,NaN,NaN,NaN
180,19.043576,-98.194873,2.0,0.0,NaN,NaN,NaN
181,19.043590,-98.194901,2.0,1.0,NaN,NaN,NaN

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

_latitude                                          0
_longitude                                         0
number_of_operators                               10
number_of_available_trolleys                       2
serving_customer                                 147
describe_the_accident                            182
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data4_iqr=data3_iqr.copy()
data4_iqr=data4_iqr.fillna(round(data3_iqr.mean(),1))
data4_iqr

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1.0,1.0,1.0,NaN,5.0
1,19.056849,-98.233484,2.0,1.0,1.0,NaN,5.0
2,19.059677,-98.233916,1.0,0.0,1.0,NaN,5.0
3,19.062695,-98.228567,1.0,2.0,1.0,NaN,5.0
4,19.062724,-98.231397,2.0,2.0,1.0,NaN,5.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1.0,0.0,1.0,NaN,5.0
178,19.043607,-98.194856,1.0,0.0,1.0,NaN,5.0
179,19.043336,-98.194503,1.0,1.0,1.0,NaN,5.0
180,19.043576,-98.194873,2.0,0.0,1.0,NaN,5.0
181,19.043590,-98.194901,2.0,1.0,1.0,NaN,5.0

In [ ]:
y2=data4_iqr.copy()

In [ ]:
#Convertir DataFrame a CSV
y2.to_csv("lastmile_sin_Outliers.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files 
  
files.download("lastmile_sin_Outliers.csv")