<a href="https://colab.research.google.com/github/PabloGP10/Extracci-n-de-Datos/blob/main/Valores_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerías pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .csv sin indice
data=pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
#Eliminar primera fila o filas innecesarias
data1=pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False) # numero de la fila que se quiere eliminar skiprows
data1

In [ ]:
#Eliminar columnas innecesarias
data2=data1.drop(['0','Referencia'],axis=1) # axis 1 es para columnas, axis 0 es para filas
data2

In [6]:
#Identificar valores nulos por columna 
valores_nulos=data2.isnull().sum() #si se agraga otro .sum() aparece la sumatoria total de todos los datos
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

# **Metodos de sustitución de Valores Nulos**

In [11]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [12]:
#Primer metodo de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data3['Superficie']=data3['Superficie'].fillna(round(data2['Superficie'].mean(),1))

In [ ]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

In [ ]:
#Segundo metodo de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3['Precio Venta']=data3['Precio Venta'].fillna(round(data2['Precio Venta'].median(),1))
data3

In [ ]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

In [ ]:
#Tercer metodo de sustitución de valores nulos
#Sustituir valores nulos por un valor númerico en concreto
data3['Fecha Alta']=data3['Fecha Alta'].fillna(10)
data3

In [ ]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

In [ ]:
#Cuarto metodo de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
data3['Fecha Venta']=data3['Fecha Venta'].fillna("2030-06-19 00:00:00")
data3

In [21]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [22]:
#Quinto metodo de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill"("ffill")
data3['Tipo']=data3['Tipo'].fillna(method="ffill") #metodo mas completo
data3

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,1121906.0,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,1121906.0,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,2030-06-19 00:00:00,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,2030-06-19 00:00:00,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,2030-06-19 00:00:00,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,2030-06-19 00:00:00,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,170.2,2140712.0,2030-06-19 00:00:00,NaN

In [23]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
#Sexto metodo de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia ataras backward "fill"("bfill")
data3['Operación']=data3['Operación'].fillna(method="bfill") #metodo mas completo
data3

In [25]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia ataras backward "fill"("bfill")
data3['Provincia']=data3['Provincia'].fillna(method="bfill") #metodo mas completo
data3

In [ ]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill"("ffill")
data3['Vendedor']=data3['Vendedor'].fillna(method="ffill") #metodo mas completo
data3

In [29]:
#Corrobarramos valores nulos
valores_nulos=data3.isnull().sum() 
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [30]:
#Corroborramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

# **Metodo de Eliminación de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

In [32]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4=data2.dropna(0)
data4

In [34]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

# **Comparamos Dataframe3(Sustitución) y Dataframe4(Eliminación)**

In [35]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [37]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 193.1+ KB

# **Convertir DataSet sin valores nulos a CSV**

In [ ]:
#Convertir Dataframe a CSV
data3.to_csv("inmuebles_sin_nulos.csv")

In [ ]:
#descardar archivo filtrado en csv
from google.colab import files 
  
  
files.download("inmuebles_sin_nulos.csv")